// tests/test.config
// Test profile for verifying nextflow pipeline on small sample datasets

params {
    input               = "tests/samplesheet_test.csv"
    outdir              = "tests/results"
    species             = "eukaryote"
    run_type            = "reference_based"
    
    // Dummy parameters for testing
    dorado_bin          = "echo"
    gpu_devices         = "cpu"
    threads             = 2
    
    ref_nuc             = "tests/data/ref_nuc.fasta"
    ref_mt_ap           = "tests/data/ref_mt_ap.fasta"
    ref_mt_au           = "tests/data/ref_mt_au.fasta"
    
    methylartist_locus  = "chrM:1-100"
}
