process {
    publishDir = [
        path: { 
            def parts = task.process.tokenize(':')
            parts.size() > 1 ? "${params.outdir}/${parts[-2].toLowerCase()}/${parts[-1].toLowerCase()}" : "${params.outdir}/${parts[-1].toLowerCase()}"
        },
        mode: 'copy',
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: 'MULTIQC' {
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: 'copy',
            saveAs: { filename -> filename }
        ]
    }
    // Capture exit codes from upstream processes when piping
    shell = ['/bin/bash', '-euo', 'pipefail']
}

// Capture Nextflow log files
timeline {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_timeline.html"
}
report {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_report.html"
}
trace {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/execution_trace.txt"
}
dag {
    enabled = true
    overwrite = true
    file = "${params.outdir}/pipeline_info/pipeline_dag.html"
}

