dag {
    enabled = true
    file = 'workflow_dag.dot'
    overwrite = true
    renderHTML = true
    renderFormat = 'png'
    renderOptions = '-Tpng -Gdpi=300'
}

dag.vertex = { 
    if (it.type == 'process') {
        label = it.name
        shape = 'box'
    }
    else if (it.type == 'input') {
        label = it.name
        shape = 'folder'
    }
    else if (it.type == 'output') {
        label = it.name
        shape = 'folder'
    }
}

dag.edge = { 
    label = it.channel
}