// conf/eukaryote.config for Artemia and general eukaryotes

params {
    species          = "eukaryote"
    run_type         = "reference_based"
    
    // Eukaryote references (Artemia default)
    ref_nuc          = "/data/Jyotirmoy/CF-Projects/External/Parisa/CFFMHS-QU-12/artemia/reference_genome/GCF_032884065.1_ASM3288406v1_genomic.fna"
    ref_mt_ap        = "/data/Jyotirmoy/CF-Projects/External/Parisa/CFFMHS-QU-12/artemia/reference_genome/OR423215_1.fasta"
    ref_mt_au        = "/data/Jyotirmoy/CF-Projects/External/Parisa/CFFMHS-QU-12/artemia/reference_genome/MN240408_1.fasta"
    
    // Eukaryote specific variant parameters
    ploidy           = 2
    min_cov          = 10
    min_pct          = 20
    min_nmod         = 3
}
