params {
    aligner = 'bwameth'
    use_parabricks = true
    parabricks_container = 'nvcr.io/nvidia/clara/clara-parabricks:4.7.0-1'
}

process {
    withLabel: 'gpu' {
        container = "${params.parabricks_container}"
        cpus = 48
        memory = '200 GB'
        ext.args = '--max-read-length 250 --bwa-options "-K 600000 -Y"'
    }

    withName: METHYLKIT_ANALYSIS {
        cpus = 48
        memory = '128 GB'
        containerOptions = '--env R_LIBS_USER="" --env R_LIBS_SITE="" --env R_LIBS=""'
    }
    withName: EDGER_ANALYSIS {
        cpus = 48
        memory = '128 GB'
        containerOptions = '--env R_LIBS_USER="" --env R_LIBS_SITE="" --env R_LIBS=""'
    }
    withName: DSS_ANALYSIS {
        cpus = 48
        memory = '128 GB'
        containerOptions = '--env R_LIBS_USER="" --env R_LIBS_SITE="" --env R_LIBS=""'
    }
}

docker {
    runOptions = '--gpus all'
}

