// conf/version_lock.config
// Force the exact biocontainer versions and tags to guarantee pipeline reproducibility

process {
    withName: '.*CRAMINO' { container = 'quay.io/biocontainers/cramino:0.13.0--h03027b5_0' }
    withName: '.*SAMTOOLS_FASTQ' { container = 'quay.io/biocontainers/samtools:1.17--h00cdaf9_1' }
    withName: '.*FASTQC' { container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0' }
    withName: '.*NANOPLOT' { container = 'quay.io/biocontainers/nanoplot:1.42.0--pyhdfd78af_0' }
    withName: '.*FILTLONG' { container = 'quay.io/biocontainers/filtlong:0.2.1--h9a82719_0' }
    withName: '.*FLYE' { container = 'quay.io/biocontainers/flye:2.9.2--py39h9c5950d_1' }
    withName: '.*MEDAKA' { container = 'quay.io/biocontainers/medaka:1.11.1--py310h0cf282b_1' }
    withName: '.*QUAST' { container = 'quay.io/biocontainers/quast:5.2.0--py39pl5321h4e6d42e_3' }
    withName: '.*BUSCO' { container = 'quay.io/biocontainers/busco:5.5.0--py310h3289130_0' }
    withName: '.*MINIMAP2.*' { container = 'quay.io/biocontainers/minimap2:2.26--he4a0461_1' }
    withName: '.*SAMTOOLS_SORT.*' { container = 'quay.io/biocontainers/samtools:1.17--h00cdaf9_1' }
    withName: '.*TRANSFER_TAGS.*' { container = 'quay.io/biocontainers/samtools:1.17--h00cdaf9_1' }
    withName: '.*BCFTOOLS_CALL.*' { container = 'quay.io/biocontainers/bcftools:1.23.1--hb2cee57_0' }
    withName: '.*SNPEFF.*' { container = 'quay.io/biocontainers/snpeff:5.2--hdfd78af_1' }
    withName: '.*COMPRESS_INDEX_SNPEFF' { container = 'quay.io/biocontainers/bcftools:1.23.1--hb2cee57_0' }
    withName: '.*VEP.*' { container = 'quay.io/biocontainers/ensembl-vep:116.0--pl5321h2a3209d_0' }
    withName: '.*WHATSHAP_PHASE' { container = 'quay.io/biocontainers/whatshap:1.7--py310h1425a86_1' }
    withName: '.*WHATSHAP_HAPLOTAG' { container = 'quay.io/biocontainers/whatshap:1.7--py310h1425a86_1' }
    withName: '.*SNIFFLES' { container = 'quay.io/biocontainers/sniffles:2.8.0--pyhdfd78af_0' }
    withName: '.*CNVKIT' { container = 'quay.io/biocontainers/cnvkit:0.9.10--pyhdfd78af_0' }
    withName: '.*MODKIT_PILEUP.*' { container = 'quay.io/biocontainers/modkit:0.2.4--h9a82719_0' }
    withName: '.*JBROWSE_CREATE' { container = 'quay.io/biocontainers/jbrowse2:4.3.0--hdfd78af_0' }
    withName: '.*MULTIQC' { container = 'quay.io/biocontainers/multiqc:1.18--pyhdfd78af_0' }
}
