// conf/virus.config for Viral genomes

params {
    species   = "virus"
    run_type  = "de_novo_assembly"
    
    // Viruses are haploid
    ploidy    = 1
    
    // Default reference genome placeholder
    ref_nuc   = ""
    ref_mt_ap = ""
    ref_mt_au = ""
    
    min_cov   = 3
    min_pct   = 10
    min_nmod  = 2
}
